.arrow {
    white-space: nowrap;
}

.tad-container {
    display: flex;
    flex-wrap: nowrap;
    user-select: none;
    flex-direction: column;
    color: white;
    height: 100vh;
    animation: reveal 0.3s ease;
}

.tad-container h1 {
    text-align: center;
    margin: 10px 0;
}

.form-container {
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 5px;
    gap: 5px;
}

.form-container input {
    outline: none;
}

.form-container button {
    height: 100%;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    min-width: 20px;
    transition: box-shadow .3s ease;
    outline: none;
}

.form-container button:hover {
    box-shadow: 5px 2px 0 rgba(255, 255, 255, 1);
}

.form-container {
    width: 100%;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    padding: 10px;
    width: 20px;
    color: white;
    cursor: pointer;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.box--last {
    animation: reveal 0.2s ease;
}


.box:hover {
    transform: rotate(10deg)
}

@keyframes reveal {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}


.tad-elements-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 80vw;
    margin-top: 2%;
    position: relative;
}

.leaf {
    width: 20px;
    padding: 5px;
    text-align: center;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    transition: background-color .3s ease, color .3s ease;
}

.leaf--looking,
.leaf:hover {
    background-color: white;
    color: black;
}

.leaf--last {
    animation: reveal .3s ease;
}

.tree-elements-container {
    position: relative;

}

@keyframes reveal {
    0% {
        opacity: 0;
        margin-top: 10px
    }

    100% {
        opacity: 1;
        margin-top: 0;
    }
}


.heap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    font-size: 25px;
}

.heap button {
    font-size: 20px;
}