.box-container {
  display: flex;
  user-select: none;
  align-items: center;
  color: white;
  background-color: red;
}


.box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  padding: 10px;
  cursor: pointer;
  margin: 0 10px;
  transition: transform 0.3s ease;
}


.box:hover {
  transform: rotate(10deg)
}