.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.boxes {
  display: flex;
  user-select: none;
  align-items: center;
}


.box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  padding: 10px;
  color: white;
  cursor: pointer;
  margin: 0 10px;
  transition: transform 0.3s ease;
}


.box:hover {
  transform: rotate(10deg)
}